:root {
  --color-bg: #898279;
  --color-text-main: #000000;
  --color-text-header: #2800FF;
  --color-primary: #AFECE0;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Roboto Condensed";
  --font-family-header: "Roboto Condensed";
  
  --color-blue1: #316fb7;
  --color-blue2: #124056;
  --color-red1: #c22020;
  --color-red2: #590202;
  --color-gray1: #D9D2D0;
  --color-gray2: #B6A18E;
  --color-black: #2e2e2e;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}


/* Our remix on glitch button */
.btn--remix {
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #ffffff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000000;
  text-decoration: none;
  border-style: none;
}

.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
}

/* Page structure */
.wrapper {
  background-color: #675e56;
  min-height: var(--wrapper-height);
  place-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

p {
  font-size: 1.25rem;
}

ul {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

/* Title h1 style */
.title {
  color: var(--color-text-header);
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 105%;
  margin: 2rem 0 0;
}
#userList{
  font-size: 0.6rem;
}
/* Very light scaling for our illustration */
.illo-container {
  display: flex;
  justify-content: flex-end;
}
.illustration {
  max-width: 100%;
  max-height: 150px;
  margin-top: 1rem;
}

/* Styles for our custom color form and its results */
.color-info {
  margin-left: 5px;
}

.color-search {
  margin-top: 3rem;
}

.color-form {
  width: 90%;
  max-width: 500px;
  margin-left: 5px;
}

.color-form a:not(.btn--remix) {
  font-weight: bold;
  color: var(--color-text-main);
  margin-top: 8px;
}

.color-form button {
  margin-top: 8px;
}

.color-form button:hover {
  cursor: pointer;
  box-shadow: -8px 4px 20px #9BE7D8;
}

form {
  margin: 0.75rem 0;
}

button, input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

label {
  color: #000000;
  font-weight: bold;
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

.instructions p {
  font-size: 1rem;
}

h2 {
  
}

.team-btn {
  width: 139px;
  font-size: 0.7rem;
}

.red-item1 {
  background: var(--color-red1);
  color: #FFFFFF;
}

.blue-item1 {
  background: var(--color-blue1);
  color: #FFFFFF;
}

.red-item2 {
  background: var(--color-red2);
  color: #FFFFFF;
}

.blue-item2 {
  background: var(--color-blue2);
  color: #FFFFFF;
}

.bg-blue {
  background: var(--color-blue2);
}
.bg-red {
  background: var(--color-red2);
}



#teams {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#teams > div {
  text-align: center;
  padding: 0.5rem 1rem;
  width: 50vw;
  text-align: left;
}
#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns of equal width */
  grid-template-rows: repeat(5, 1fr);    /* 5 rows of equal height */
}
#board > .item {
    background: var(--color-gray1);
    height: 20vw;
    width: 20vw;
    height: 12vw;
    padding: 0px;
    padding-top: 4px;
    display: flex;
    justify-content: flex-start;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.hidden {
  background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 4px, transparent 5px, transparent 12px) !important;
}

.item > span{
 font-size: 0.6rem;
}

.ds {
  box-shadow: rgb(0 0 0 / 47%) 0px 4px 6px 0px;
}

.be {
  box-shadow: inset 5px 5px 6px #afafaf,
            inset -5px -5px 6px #ffffff;
}

.ds.be {
    box-shadow: rgb(0 0 0 / 47%) 0px 4px 7px 0px, 
      inset 3px 4px 3px #ffffff2b, 
      inset -1px -6px 3px #0000002e;
}

#turns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  user-select: none;
}

#turns > .turnBtn{
  color: #000;
  width: 40px;
  height: 40px;
  margin-bottom: -11px;
  z-index: 10;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 1.4rem;
}

.glowOutline {
  border: 2px solid #dadada;
  border-radius: 11px;
  outline: none;
  border-color: #eaffce;
  box-shadow: 0 5px 10px #e8ffd0;
  scale: 1.1;
  z-index: 10;
}


